# fly.toml app configuration file generated for "recipes-pennylane" on 2023-09-13T01:43:50Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "recipes-pennylane"
primary_region = "nrt"
console_command = "/rails/bin/rails console"

[build]
dockerfile = "Dockerfile.dev"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[statics]]
  guest_path = "/rails/public"
  url_prefix = "/"