<div class="relative flex items-start">
  <div class="flex h-6 items-center">
    <%= check_box_tag "ingredient_ids[]",
      ingredient.id,
      checked || false,
      id: "ingredient_id_#{ingredient.id}",
      data: { action: "change->searchable-dropdown#select", searchable_dropdown_target: "option" },
      class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" %>
  </div>
  <div class="ml-3 text-sm leading-6">
    <%= label_tag "ingredient_id_#{ingredient.id}", ingredient.name.capitalize, class: "font-medium text-gray-900" %>
  </div>
</div>