<div class="mx-auto w-full px-4 pt-5">
  <%= render "recipes/search_form" %>
  <div class="mx-auto mt-5">
    <ul id="recipes" role="list" class="grid grid-cols-2 gap-4">
    </ul>
    <%= render 'recipes/infinite_scroll_frame', page: 1, query: params[:query] %>
  </div>
</div>