<header class="text-gray-600 body-font bg-white">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <%= link_to root_path, class: "flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-yellow-500 rounded-full" style="transform: rotate(-90deg);" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Recipe Finder</span>
    <% end %>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <%= link_to "Search for recipes", recipes_path, class: "mr-5 hover:text-yellow-500" %>
      <%= link_to "Check your ingredients", check_ingredients_recipes_path, class: "mr-5 hover:text-yellow-500" %>
    </nav>
  </div>
</header>